
.b{
  background-color: black;
}
.hed{
  position: fixed;
  background-color: blue;
  height: 30px;
  width: 100%;
  top: 0;
  border: 2px solid white;
}
header button{
  height: 30px;
}
.foot{
  position: fixed;
  bottom: 0;
  left:0;
  background: grey;
  height: 50px;
  width: 100%;
  text-align: center;

}
.About{
  padding-top: 40px;
  height: 100px;
  width: 50%;
  background-color: green;
  display: none;
}
.drawings img{

  border: solid white 1px;
}
.drawings img:hover{
  border: solid green 1px;
}
